/*google fonts*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
/*variable css*/



/*base css*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body, button, input{
    font-family: Calibri;
    font-size:medium;
}

body{
    background-color: rgb(33, 8, 40);
    color: whitesmoke;
}

h1,h2,h3{
    color: dark whitesmoke;
    font-weight: bold;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height:auto;
}

button{
    cursor: pointer;
}

button, input{
    border: whitesmoke;
    outline: none;
}

/*layout*/

.container{
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}

.grid{
    display:grid;
}

/*reusable css classes*/

.section{
    padding: 3.5rem 0.2rem;
}

.section_title{
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    color: palevioletred;
}



/*sidebar*/

.sidebar{
    position:fixed;
    width: 120px;
    height: 100vh ;
    background-color: rgb(24, 0, 32);
    border-right: 1px solid black;
}

.nav_logo{
    position:absolute;
    left: 0;
    right:0;
    top: 1rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: palevioletred;
    text-align: center;
    margin:auto;
}

.nav_logo-text{
    font-size: 1.25rem;
    color: black;
    font-weight: bold;
    line-height: 40px;
}

.nav_menu{
    position: fixed;
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: left top;
    width: 100vh;
    margin-top: 10px;
}

.menu{
    display: flex;
}

.nav_list{
    display: flex;
    flex-direction: row-reverse ;
    margin: -2px auto 0 auto;
}

.nav_link{
    height: 100%;
    line-height: 120px;
    padding: 0 1.2rem;
    color: whitesmoke;
    font-weight:700;
    position: relative;
    font-size: 16px;
    transition: .3s;
}



/*active link*/

.nav_link.active-link, .nav_link:hover{
    color:   palevioletred;
}

.nav_link.active-link::after, .nav_link:hover::after{
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    background-color: palevioletred;
    border-radius:50% ;    
    bottom:2rem;
    left: 0;
    right: 0;
    margin: auto;
}

/*main*/

.main{
    margin-left: 120px;
}



/*homesection*/

.home{
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.home_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-left: 20px;
}


.home_content {
    display: flex;
    grid-column: 1 / span 2;
    align-items: center;
    margin-top: 20px; /* Adjust this value according to your preference */
}

.home_picture {
    flex: 0 0 auto;
    margin-right: 50px;
}

.home_data {
    flex: 1;
}

/* Ensure the picture doesn't exceed a certain height */

.home_picture img {
    max-height: 300px; /* Adjust this value according to your preference */
    border-radius: 50%; /* Make the image circular */
    overflow: hidden; /* Ensure the image stays within the circular shape */
}


.home_social{
    left: 0;
    display: flex;
    align-items: center;
    column-gap: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    grid-column: 1 / span 2;
}

.home_social-follow{
    font-size: 20px;
    font-weight: 700;
    font-family: Calibri;
    position: relative;
    color: rgb(106, 197, 227);
}


.home_social-links{
    display:inline-flex ;
    column-gap: 1rem;
}


.home_social-link{
    font-size: 1.08rem;
    color: whitesmoke;
    transition: .4s;
}

.home_social-link:hover{
    transform: translateY(.25rem);
}

.home_title{
    font-size: 40px;
    margin-bottom: 30px;
    color: palevioletred;
    font-family: Calibri;
}

.home_subtitle{
    font-size: 18px;
    font-weight: 70;
    margin-bottom: 1rem;
    font-family: Calibri;
}

.home_desciption{
    max-width: 450px;
    margin-bottom:10px ;
    font-family: Calibri;

}


/*buttons*/
.button{
    display: inline-flex;
    align-items: center;
    column-gap: 1rem;
    color: whitesmoke;
    background-color:rgb(216, 112, 147) ;
    padding: .50rem 1.2rem;
    border-radius: .25rem;
    font-weight: 700;
    position: relative;
    z-index: 1;
    margin-top: 20px;
}

.button::after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(156, 122, 176) ;
    z-index: -1;
    transform-origin: center;
    transform: scale(0);
    border-radius: .25rem;
    transition: .2s;
}

.button:hover::after{
    transform: scale(1);
}

.button_icon{
    font-size: 1rem;
}

/*about section*/


.about_container{
    margin-left: 50px;
}
.about_heading{
    font-size: 30px;
    margin-bottom: 20px;
    color:rgb(156, 122, 176) ;
    
}

.about_description{
    text-align: justify;
    padding-right: 50px;
    margin-bottom: 50px;
    font-size: 20px;
}

.about_social-link{
    color:rgb(156, 122, 176) ;
    font-size: 20px;
}

.about_social-link:hover{
    color: rgb(106, 197, 227);
}

.about_box{
    margin-bottom: 50px;
}

.about_icon{
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.about_title{
    font-size: 20px;
}

/*qualifications*/

.qualification_container{
    grid-template-columns: repeat(2,340px);
    column-gap: 3rem;
    justify-content: center;
}

.experience{
    margin-left: 100px;
}

.qualification_title{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 30px;
    color:rgb(156, 122, 176) ;
}

.timeline_item{
    position: relative;
    padding-left: 3rem ;
    margin-bottom: 50px;
}

.timeline_item:last-child{
    margin-bottom: 0;
}

.timeline_item::before{
    content: '';
    width: 1px;
    position: absolute;
    left: .48rem;
    top: 0;
    height: 100%;
    background-color: rgb(106, 197, 227);
}

.circle_dot{
    position: absolute;
    left:0 ;
    top: 0;
    height: 1rem;
    width: 1rem;
    border: 2px solid  rgb(106, 197, 227);
    border-radius: 50%;
    background-color:rgb(106, 197, 227);
    transition: .4s;
}

.timeline_item:hover .circle_dot{
    background-color:rgb(33, 8, 40);  ;
} 

.timeline_title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.timeline_subtitle{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}

.timeline_text{
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: 400;
}

.timeline_date{
    display: flex;
    align-items: center;
    column-gap: .4rem;
    font-size: 600;
    color: palevioletred ;
}

/*skills*/

.skills_container{
    grid-template-columns: 360px 320px;
    column-gap: 3rem;
    justify-content: center;
}


.skills_header{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.skills_header:not(:last-child){
    margin-bottom: 40px;
}


.skills_icon,
.skills_arrow{
    font-size: 1.5rem;
    color: rgb(106, 197, 227);
}

.skills_icon{
    margin-right: 10px;
}

.skills_title{
    font-size: 20px;
    font-weight: 600;
}


.skills_arrow{
    margin-left: auto;
}

.skills__active .skills_arrow{
    transform: rotate(-90deg);
    transition: .3s;
}

.skills [data-content]{
    display: none;
}

.skills__active[data-content]{
    display: block;
}

.skills_list{
    row-gap: 1.8rem;
}

.skills_title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.skills_name{
    font-size:20px ;
    font-weight: 600;
    color:rgb(156, 122, 176) ;
}



/*work section*/

.work_container{
    grid-template-columns: repeat(3,330px) ;
    gap: 1.5rem;
    justify-content: center;
    padding-top:1rem ;
}

.work_card{
    background-color: rgb(56, 30, 65);
    padding: 1.5rem;
    border: .5rem;
}

.portfolio_item-details{
    display: none;
}

.work_img{
    border-radius: .3rem;
    margin-bottom: 20px;
    height: 40vh;
}

.work_title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.work_button{
    color:rgb(106, 197, 227) ;
    font-size: 18px;
    display: flex;
    align-items: center;
    column-gap: .25rem;
    cursor: pointer;
}

.work_button-icon{
    font-size: 1rem;
    transition: .3s ;
}

.work_button:hover .work_button-icon{
    transform: translateX(.25rem);
}

/*portfolio popup*/

.portfolio_popup{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.portfolio_popup.open{
    opacity: 1;
    visibility: visible;
}

.portfolio_popup-inner{
    background-color: rgb(56, 30, 65);
    width: 900px;
    border-radius: .5rem;
    padding: 2.5rem;
    position: relative;
}


.portfolio_popup-content{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    column-gap: 3rem;
}

.portfolio_popup-close{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: palevioletred;
}

.portfolio_popup-img{
    border-radius: .5rem;
}

.portfolio_popup-subtitle{
    font-size: medium;
    margin-bottom: 10px;
    
}

.details_title{
    font-size: 20px;
    margin-bottom: 10px;
}

.details_description{
    font-size: 17px;
    margin-bottom: 10px;
    color: rgb(156, 122, 176);
}

.details_info li{
    margin-bottom: 5px;
    text-decoration: capitalize;
}

.details_info li:last-child{
    margin-bottom: 0;
}

.details_info li span{
    font-weight: 700;
}


/*contact section*/

.contact_container{
    column-gap: 3rem;
    justify-content: center;
    align-items: center;
    
}

.contact_info{
    display: grid;
    row-gap: 1rem;
}

.content_card{
    background-color: rgb(56, 30, 65);
    padding: 1rem;
    border-radius: .5rem;
    text-align: center;
}

.content_card-icon{
    font-size: 1.8rem;
    color: rgb(106, 197, 227);
    margin-bottom: 10px;
}

.content_card_title{
    color: rgb(156, 122, 176);
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
}

.content_card-data{
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
}

.contact_button{
    color: palevioletred;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .25rem;
    cursor: pointer;
}
.contact_button-icon{
    font-size: 1rem;
    transition: .3s ;
}



/*footer*/

.footer{
    padding-top: 3rem;
}

.footer_container{
    grid-template-columns: repeat(2,1fr);
    column-gap: 1rem;
    padding: 1rem;
}

.footer_bg{
    background-color: rgb(56, 30, 65);
    padding: 3rem 0 3.5rem;
}



.footer_links{
    display: flex;
    justify-self: center;
    column-gap:2rem ;
}

.footer_link{
    color: aliceblue;
    font-size: 20px;
}

.footer_link:hover{
    color: palevioletred;
}

.footer_socials{
    justify-self: center;
}

.footer_social{
    font-size: 1.25rem;
    margin-right: 20px;
    color: aliceblue;
}

.footer_social:hover{
    color: palevioletred;
}

.footer_copy{
    font-size: 20px;
    text-align: center;
    margin-top: 1.5rem;
    color: palevioletred;
}


/*scroll bar*/

::-webkit-scrollbar {
    width : .40rem;
    background-color: rgb(33, 8, 40);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb{
    background-color: palevioletred;
    border-radius: .5rem;
}

@media (max-width:1024px){
    .container {
        max-width: 90%;
    }

    body,
    button,
    input {
        font-size: 16px;
    }

    h1, h2, h3 {
        font-size: 24px;
    }

    .sidebar {
        display: none;
    }

    .main {
        margin-left: 0;
    }

    .nav_menu {
        transform: none;
        width: auto;
        margin-top: 0;
    }

    .nav_list {
        flex-direction: row;
        margin: 0;
    }

    .nav_link {
        padding: 0 1rem;
        font-size: 14px;
    }
    
    .footer_container {
        grid-template-columns: repeat(2, 1fr);


    }
    .qualification_container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }

    .experience {
        margin-left: 100px;
    }

    .qualification_title {
        font-size: 22px;
    }

    .skills_container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    

    .skills_header {
        flex-direction: row;
    }

    .skills_list {
        column-count: 2;
    }

    .skills_title {
        font-size: 22px;
    }

    .work_container {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding-top: 0;
    }

    .work_card {
        padding: 1rem;
    }

    .work_img {
        height: auto;
    }

    .work_title {
        font-size: 18px;
    }

    .work_button {
        font-size: 16px;
    }

    .home {
        background: none;
        background-size: cover;
        background-position: center center;
        height: 60vh;
    }
    .my_info {
        display: block;
        text-align: left;
        padding: 0 20;
        position: static;
        margin-top: 1rem;
    }
    .info_item {
        margin-bottom: 1.5rem;
    }

}


@media (max-width: 477px) {
    .container {
        max-width: 90%;
    }

    body,
    button,
    input {
        font-size: 16px;
    }

    h1, h2, h3 {
        font-size: 24px;
    }

    .sidebar {
        display: none;
    }

    .main {
        margin-left: 0;
    }

    .nav_menu {
        transform: none;
        width: auto;
        margin-top: 0;
    }

    .nav_list {
        flex-direction: row;
        margin: 0;
    }

    .nav_link {
        padding: 0 1rem;
        font-size: 14px;
    }

    .footer_container {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer_socials {
        margin-top: 1.5rem;
        justify-self: center;
    }

    .qualification_container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }

    .experience {
        margin-left: 0;
    }

    .qualification_title {
        font-size: 22px;
    }

    .skills_container {
        grid-template-columns: repeat(1, 1fr);
        column-gap: 1rem;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    .skills_header {
        flex-direction: row;
    }

    .skills_list {
        column-count: 1;
        margin-top: 2rem;
    }
    

    .skills_title {
        font-size: 20px;
    }

    .work_container {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        padding-top: 0;
    }

    .work_card {
        padding: 1rem;
    }

    .work_img {
        height: auto;
    }

    .work_title {
        font-size: 18px;
    }

    .work_button {
        font-size: 16px;
    }

    .home {
        background: none;
        background-size: cover;
        background-position: center center;
        height: auto; /* Change from 100vh to auto */
    }

    .my_info {
        display: block;
        text-align: center; /* Center the content */
        padding: 0 20px;
        margin-top: 1rem;
    }

    .info_item {
        margin-bottom: 1.5rem;
    }

    .home_social {
        display: flex;
        justify-content: center; /* Center the social links */
        column-gap: 2.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .home_content {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        justify-content: center; 
        margin-top: 20px;
    }
    
    
}
@media (max-width: 798px)  {
    .home {
        background: none;
        background-size: cover;
        background-position: center center;
        height: auto; /* Change from 100vh to auto */
    }
    .home_content {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        justify-content: center; 
        margin-top: 20px;
    }
}
